{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="home-intro">
        <h1 class="home-name">Pierre Bailly</h1>
        <h2 class="home-title">Développeur fullstack</h2>
        <img class="home-profile-picture" src="{{ asset('build/images/profilePicture.jpg') }}" alt="profile picture"/>
        <p class="home-description">Petite description ici, petit pitch pour me présenter en 3 lignes</p>
    </section>
{% endblock %}
