.home-container {
  display: flex;
  flex-direction: row-reverse;
}

.home-skills {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

.home-name {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.home-badge-title {
  margin-left: 5vw;
  margin-right: 30vw;
}

.home-badges {
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
  border-radius: 2rem;
  width: 35vw;
  margin-left: 10vw;
  margin-bottom: 5vh;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 5vw;
  margin-top: 1.5vh;
  margin-left: 3vw;
}

.logo-title {
  margin-left: 3vw;
  color: black;
}

.logo-container:hover>.logo {
  transform: scale(1.2);
  transition: 0.3s;
}

.logo-container:hover>.logo-title {
  color: red;
  transition: 0.3s;
}

.home-info {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.home-profile-picture {
  margin: 5vh 10vw;
  max-width: 10vw;
  max-height: 17.5vh;
  border-radius: 50%;
}