body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #2e3136;
  color: aquamarine;
}

.home-intro {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: 100%;
  margin: 0;
  border: solid 2px black;
  border-radius: 15px;
}

.home-name {
  grid-column: 3;
  grid-row: 1;
  font-size: 2rem;
}

.home-profile-picture {
  grid-column: 19;
  grid-row: 1;
  border-radius: 50%;
  margin-top: 2rem;
}